
@use 'bases/' as b;

@use 'components/' as c;

@use 'layouts/' as l;


@use 'pages/' as p;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: b.$roboto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol  {
    list-style-type: none;
}

