.section_home-title {
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.section_menu-title {
  font-family: shrikhand, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.btn_resto {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.card_title {
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.card-content:nth-child(1) ::before {
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 135, 102);
}

@keyframes enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.btn_resto {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.btn_resto:hover {
  opacity: 0.8;
  font-size: 20px;
}

/* card des restaurants page index.html */
.card {
  height: 251px;
  background-color: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  z-index: 1;
}
.card img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 30px 0px 15px;
}

/* badge page index.html */
.card-content:nth-child(1) ::before {
  content: "nouveau";
  background-color: rgb(153, 226, 208);
  padding: 7px 9px 7px 9px;
  position: absolute;
  z-index: 10;
}

/* card menu pages restos*/
.MenuContainer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.MenuContainer__list .MenuContainer__course {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: content-box;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: enter 1s;
}

.item-description {
  width: calc(100% - 50px);
  line-height: 30px;
  padding: 10px 0px 15px 20px;
}

.item-price {
  width: 50px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.item-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  background-color: rgb(153, 226, 208);
  color: #ffffff;
  border-radius: 0 15px 15px 0;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.MenuContainer__course:hover .item-description {
  width: calc(100% - 100px);
  transition: all 0.5s ease-in-out;
}
.MenuContainer__course:hover .item-check {
  width: 50px;
  transition: all 0.5s ease-in-out;
}

.boxtest {
  position: relative;
}

.checkbox-container {
  position: relative;
  z-index: 1;
}

.test1 {
  left: 90%;
  top: -15%;
}

.test2 {
  position: static;
  display: flex;
  justify-content: space-between;
}

.like {
  font-size: 30px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + a label > .like,
input[type=checkbox]:checked + label > .like {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-weight: 700;
}

header {
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  font-size: 24px;
  position: absolute;
  left: 30px;
  top: 20px;
}

.header__container {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #353535;
  color: white;
  padding: 30px;
}
footer img {
  width: 150px;
  filter: brightness(0) invert(1);
}
footer .fa-solid {
  fill: white;
  font-size: 15px;
  padding-right: 5px;
}

Footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.location {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}
.location ::before {
  font-family: "font awesome 6 free";
  font-weight: 700;
  content: "\f3c5";
  margin-right: 15px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* section reservation */
.reservation {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
}

/* section operation (fonctionnement) */
.operation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.operation_container {
  display: flex;
  flex-direction: column;
  padding: 50px 10px 50px 10px;
  gap: 15px;
}
.operation_container ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  counter-reset: number;
}
.operation_container li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 50px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1490196078);
}
.operation_container .fa-solid {
  padding-right: 15px;
}

/* numerotation (counter) */
.operation_container li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(number);
  counter-increment: number;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: #ffffff;
  background-color: #9356DC;
  position: relative;
  left: -60px;
}

.operation_container .fa-mobile-screen-button,
.operation_container .fa-list-ul {
  color: #7E7E7E;
}

.operation_container .fa-store {
  color: #9356DC;
}

/* section restaurants */
.restaurant {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 10px 50px 10px;
  background-color: #F6F6F6;
}
.restaurant h2 {
  padding-left: 5px;
}
.restaurant p {
  font-size: medium;
  font-weight: 300;
}

.restaurant__container {
  display: grid;
  height: auto;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  position: relative;
}

/* banners layout */
.banner img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

/* container des menus*/
.MenuContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #F6F6F6;
  padding: 30px 15px 30px 15px;
  border-radius: 25px 25px 0 0;
  margin-top: -50px;
  position: relative;
}
.MenuContainer .MenuContainer__header {
  display: flex;
}

.MenuContainer__title {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.MenuContainer__title::before {
  content: "";
  display: flex;
  height: 3px;
  width: 40px;
  position: relative;
  bottom: -30px;
  background-color: rgb(153, 226, 208);
}

.item-description p {
  font-size: 18px;
  font-weight: 300;
}

.boutton__container {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.main-container {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
