
@use '../bases/' as b;

// button like heart


.restaurant__containerCheck {
    position: relative;
}

.like {
    font-size: 30px;
    }

.positionheart__homepage{
    left: 90%;
    top: -15%;
}

.positionheart__resto{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// simuler un evenement onclick avec le input checkbox
// cacher le checkbox
input[type="checkbox"] {
display: none;
}

// remplir le coeur d'une couleur gradient 
input[type="checkbox"]:checked + a label>.like,
input[type="checkbox"]:checked + label>.like {
color: transparent;
background-clip: text;
-webkit-background-clip: text;
background-image: linear-gradient(b.$secondary, b.$primary);
font-weight: 700;
}