
@use '../bases/' as b;

// button like heart



.restaurant__containerCheck {
    position: relative;
}

.checkbox-container {
    width: 30px;
    position: relative;
    z-index: 1;
}

.positionheart__homepage{
    left: 90%;
    top: -15%;
}

.positionheart__resto{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
font-size: 30px;
}

input[type="checkbox"] {
display: none;
}

input[type="checkbox"]:checked + a label>.like,
input[type="checkbox"]:checked + label>.like {
color: transparent;
background-clip: text;
-webkit-background-clip: text;
background-image: linear-gradient(b.$secondary, b.$primary);
font-weight: 700;
}