
@use '../bases/typography';
@use '../bases/variables';

// button explorer restaurant
.btn_resto {
    width: 218px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(variables.$secondary, variables.$primary);
    cursor: pointer;
    @extend %button-title;
}

// button like heart

.like {
    font-size: 20px;
}

input[type="checkbox"] {
    display: none;

}

input[type="checkbox"]:checked + label>.like {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(variables.$secondary, variables.$primary);
    font-weight: 700;
    
}

