
// @use'../bases/variables';
// @use '../bases/typography'; 
@use '../bases/' as b;


/* card des restaurants page index.html */
.card {
    height: 251px;
    background-color: b.$white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 1;


    img {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px 30px 0px 15px;

    } 



}

/* badge page index.html */
.card-content:nth-child(1) ::before  { 
    content: "nouveau";
    background-color: b.$color__badge-background;
    padding: 7px 9px 7px 9px;
    @extend %badge-title;
    position: absolute;
    z-index: 10;
    
}



/* card menu pages restos*/
.MenuContainer__list {

    display: flex;
    flex-direction: column;
    gap: 30px;

    .MenuContainer__course {
        display: flex;
        // flex-direction: column;
        // gap: 15px;
        width: 100%;
        border-radius: 15px;
        background-color: b.$white;
        overflow: hidden;
        box-sizing: content-box; 
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        animation: enter 1s ;
    }

}




.item-description {
    width: calc(100% - 50px);
    line-height: 30px;
    padding: 10px 0px 15px 20px;
}

.item-price {
    width: 50px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    
    
}



.item-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    background-color: b.$color__badge-background;
    color: b.$white;
    border-radius:  0 15px 15px 0 ;
    font-size: 20px;
    transition: all 0.5s ease-in-out;


}



.MenuContainer__course:hover{

    .item-description{
        width: calc(100% - 100px);
        transition: all 0.5s ease-in-out;
     }
        
    .item-check{
        width: 50px; 
        transition: all 0.5s ease-in-out; 
        }
}


    




