
@use'../bases/variables';
@use '../bases/typography'; 


// card des restaurants page index
.card {
    height: 251px;
    background-color: variables.$white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 1;


    img {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px 0px 15px;

    } 



}

// badge page index
.restaurant__container .card:nth-of-type(1)::before { 
    content: "nouveau";
    background-color: variables.$color__badge-background;
    padding: 7px 9px 7px 9px;
    @extend %badge-title;
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 10px;

}



// card menu pages restos

.menu__content-card {
    width: 90%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: variables.$white;
    box-sizing: content-box;
    cursor: pointer;
}

.menu__content-card .item {
    width: 80%;
    line-height: 30px;
}

.menu__content-card .price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.menu__content-card .check {
    display: flex;
    align-items: center;

}

// check animation page restos
.check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border-radius:  0 15px 15px 0 ;
    background-color: variables.$color__badge-background;
    // transform: scale(0);
    
    .fa-circle-check {
        font-size: 30px;
        color: variables.$white;

    }

    // :active, :focus {
    //     transform: scale(1);
    //     transition: transform 500ms ;

    // }

}



