

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #353535;
    color: white;
    padding: 30px;

    @media (min-width: 768px) {
        align-items: center;
        gap: 20px;
    }   

    @media (min-width: 1024px)  {
        flex-direction: row-reverse;
        gap: 80px;
       
    }

    img {
        width: 150px;
        filter:brightness(0) invert(1);

        @media (min-width: 1024px)  {
            width: 100px;
        }
        
    }

    .fa-solid {
        fill: white;
        font-size: 15px;
        padding-right: 5px;

    }
}

Footer ul {
    display: flex;
    flex-direction: column;
    gap: 5px;

    

    @media (min-width: 1024px)  {
        flex-direction: row;
        gap: 20px;
       
    }
}


